
.hero_sectition{
    padding: 50px 30px;
    background: url('assets/imgs/Hero-tenis.png') no-repeat 68%;
    width: 100%;
    min-height: calc(100vh - 25px);
    background-size: cover;
    color: #fff;
}

span{
    font: 800 10px/17px Apercu;
    background-color: #cfe062;
    color: #6f7e0d;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    align-items: center;
    height: 25px;
}

nav{
    margin-bottom: 40px;
}

nav ul li:nth-child(2){
    margin-top: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.hero_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    text-align: center;
}

.hero_container h1{
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero_container p{
    font-size: 15px;
    padding-inline: 30px;
    margin-bottom: 20px;
}

/* tablet */
@media (min-width: 600px){

    span{
        height: 33px;
        font-size: 20px;
    }

    .hero_sectition{
        background-position: 62%;
        height: calc(100vh - 33px);
    }

    nav{
        margin-bottom: 75px;
    }

    nav ul li{
        font-size: 23px;
    }

    nav ul li:nth-child(2){
        margin-top: 100px;
    }

    nav ul li img{
        width: 120px;
    }

    .hero_container{
        gap: 40px;
    }

    .hero_container h1{
        font-size: 55px;
    }

    .hero_container p{
        font-size: 23px;
        margin-bottom: 50px;
        padding-inline: 130px;
    }

    button{
        font-size: 18px;
        padding: 20px 75px;
    }
}

/* laptop */
@media (min-width: 992px){

    span{
        height: 38px;
        font-size: 25px;
    }

    .hero_sectition{
        background-position: 62%;
        height: calc(100vh - 38px);
    }

    nav{
        margin-bottom: 75px;
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        transform: translateY(-15%);
    }

    nav ul li:nth-child(2){
        margin-top: 0;
    }

    nav ul li img{
        width: inherit;
    }

    nav ul li{
        font-size: 15px;
    }

    .hero_container h1{
        font-size: 80px;
    }

    .hero_container p{
        font-size: 21px;
        margin-bottom: 15px;
        padding-inline: 270px;
    }

    button{
        font-size: 15px;
        padding: 15px 75px;
    }

    .hero_container{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
}

/* pc */
@media (min-width: 1200px){
    .hero_container, nav{
        max-width: 1300px;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero_container{
        transform: translate(-50%, -50%);
    }
}