@font-face {
    font-family: 'Apercu';
    src: url('../assets/fonts/Apercu.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body, #root{
    overflow-x: hidden;
    font-family: 'Apercu', 'Metropolis', 'sans-serif';
}

button{
    all: unset;
    border-radius: 50px;
    width: 170px;
    font-size: 13px;
    padding: 5px 30px;
    height: 30px;
    text-transform: uppercase;
    background-color: #D96321;
    color: #fff;
    text-align: center;
}

@import url(components/hero.css);
@import url(components/carousel.css);
@import url(components/catalog.css);
@import url(components/products.css);
@import url(components/footer.css);